<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies by title and year</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="/" method="post" style="margin-bottom: 50px;">
		<p>Find movies by title and year:</p>
		<input type="text" name="title" placeholder="Title (required)"/>
		<input type="year" name="year" placeholder="Year (not required)"/>
		<input type="submit" value="Search"/>
	</form>
	
	<ul th:each="movie : ${movies}" style="list-style-type: none; margin-left: 0; padding-left: 0;">
		<li><a th:href="@{/showOne(imdbId=${movie.imdbId})}" th:text="${movie.title}"/></li>
	</ul>

	<form action="/downloadListUsual" method="post" style="margin-top: 50px;">
		<input type="hidden" name="title" th:value="${title}"/>
		<input type="submit" value="Usual download"/>
	</form>

	<form action="/downloadListBatch" method="post" style="margin-top: 20px;">
		<input type="hidden" name="title" th:value="${title}"/>
		<input type="submit" value="Batch download"/>
	</form>

	<p><b>Status:</b> <em th:text="${statusMessage}"/></p>
</body>
</html>