<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies and serials by keyword</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="/" method="post">
		<p>Select a movie keyword for search:</p>
		<select name="keyword">
			<option value="arrow">Arrow</option>
			<option value="batman">Batman</option>
		</select>
		<input type="submit" value="Select it"/>
	</form>
	
	<ul th:each="movie : ${movies}">
		<li th:text="${movie.title}">Title</li>
	</ul>

	<form action="/download" method="post" style="margin-top: 50px;">
		<input type="hidden" name="keyword" value="${keyword}"/>
		<input type="submit" value="Download"/>
	</form>
	
</body>
</html>